<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords"  content="{% if page.tags.size > 0 %}{% for tag in page.tags  %}{{ tag }}{% if forloop.last == false %}, {% endif %}{% endfor %}{% endif %}">
    {% seo %}
    <link rel="stylesheet" href="//cdn.staticfile.org/normalize/6.0.0/normalize.min.css">
    <link rel="stylesheet" href="//at.alicdn.com/t/font_roc50gemkxpw4s4i.css">
    <link rel="stylesheet" href="{{ "/assets/css/github-markdown.css" | prepend: site.baseurl }}">
    <link rel="stylesheet" href="{{ "/assets/css/prism.css" | prepend: site.baseurl }}">
    <link rel="stylesheet" href="{{ "/assets/css/share.min.css" | prepend: site.baseurl }}">
    <link rel="stylesheet" href="{{ "/assets/css/app.min.css" | prepend: site.baseurl }}">
    <link rel="stylesheet" href="{{ "/assets/css/myreward.css" | prepend: site.baseurl }}">
    <!-- <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/gitalk@1/dist/gitalk.css">
    <script src="//cdn.jsdelivr.net/npm/gitalk@1/dist/gitalk.min.js"></script> -->
    <!-- <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <script>
        (adsbygoogle = window.adsbygoogle || []).push({
            google_ad_client: "ca-pub-8541579573817077",
            enable_page_level_ads: true
        });
    </script> -->
</head>